<!doctype html>
<html lang = 'en'>
<head>
    <title>Pair Bot</title>
    <link rel="stylesheet" href="/stylesheets/botstyle.css">
<head>
<body>
  <div class="green">
    <button><a href="<%= @Yes %>">Yes</a></button>
  </div>
  <div class="red">
    <button><a href="<%= @No %>">No</a></button>
  </div>
  <div class="blue">
    <button><a href="<%= @Continue %>">Continue</a></button>
    <button><a href="<%= @Done %>">Done</a></button>
    <button><a href="<%= @Restart %>">Restart</a></button>
  </div>
    <div class="link">
    <button><a href="<%= @Inspiration %>">Inspiration</a></button>
  </div>
</body>
</html>
